{% extends 'web/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-4 mt-4" align="center">
            <h2>
                Add News
            </h2>
            <hr class="mt-2 mb-2">
        </div>
    </div>

    <div class="row justify-content-center add-news">
        <div class="col-lg-8 col-md-10 col-sm-10">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                    {{ form.title|as_crispy_field }}
                   </div>
                 <div class="form-group col-md-6">
                  {{ form.release_date|as_crispy_field }}
                </div>
              </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form.region|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.menu|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form.image|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.content|as_crispy_field }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    {{ form.link|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                    {{ form.author|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row text-center">
                    <button type="submit" class="btn btn-success">Add News</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'web/footer.html' %}
{% endblock content %}