{% extends 'web/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-4 mt-4" align="center">
            <h2>
                {{  news_category|title }} News
            </h2>
            <hr class="mt-2 mb-5">
        </div>
    </div>

    <div class="row text-center justify-content-center">
        {% for news in news_detail %}
        <div class="col-md-4 col-sm-6 mt-2 mb-2">
            <div class="card h-100">
                <img class="card-img-top"
                     src={{ news.image.url }} class="img-responsive" width="100%"
                     alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{ news.title }}</h3>
                    <p>{{news.content}}</p>
                </div>
                {% if user.is_authenticated %}
                <div class="card-footer">
                    <a href="{% url 'news:edit-news' news.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'news:delete-news' news.id %}" class="btn btn-primary btn-sm">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}