{% extends 'web/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row text-center justify-content-center">
        <div class="col-md-8 col-sm-12 mt-2 mb-2">
            <div class="row">
                <div class="col-12 mb-4 mt-4" align="center">
                    <h2>
                        {{ news.title }}
                    </h2>
                    <h4>Category : {{news.region}} - Menu: {{news.menu}}</h4>

                    <p> Contributed by : {{ news.author }} on {{ news.release_date }} </p>
                    <hr class="mt-2 mb-5">
                </div>
            </div>
            <div class="row text-center justify-content-center mb-2">
                {% if news.image %}
                <div class="card">
                    <img class="card-img-top detail-pic"
                         src={{ news.image.url }}
                         alt="Card image cap">
                </div>
                {% endif %}
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <p>{{ news.content }}</p>
                </div>
                {% if user.is_authenticated %}
                    <div class="card-footer">
                        <h4>News is
                            {% if news.approved == 'Y' %} Approved for Release on {{ news.release_date }}
                            {% else %}
                            Rejected. Please correct and Re-approve.
                            {% endif %} </h4>
                    </div>
                {% endif %}
            </div>
        </div>
   </div>
</div>
{% include 'web/footer.html' %}
{% endblock content %}