{% extends 'web/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-4 mt-4" align="center">
            <h2>
                News Gallery
            </h2>
            <hr class="mt-2 mb-5">
        </div>

        <div class="row text-center justify-content-center">
            {% for news in news_list %}
            <div class="col-md-3 col-sm-6 mt-2 mb-2 mx-2 card">
                <img class="card-img-top"
                     src={{ news.image.url }}
                     alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{ news.title }}</h3>
                    <p>{{news.content}}</p>
                    <a href="#" class="btn btn-primary btn-sm"> Read more</a>
                </div>

                <div class="card-footer">
                    <a href="{% url 'news:edit-news' news.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'news:delete-news' news.id %}" class="btn btn-primary btn-sm">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}