{% extends 'web/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-4 mt-4" align="center">
            <h2>
                Confirm Delete
            </h2>
            <hr class="mt-2 mb-5">
        </div>
    </div>

    <div class="row text-center justify-content-center">
        <div class="col-md-3 col-sm-6 mt-2 mb-2 mx-2 card">
            <img class="card-img-top"
                 src={{ news.image.url }}
                 alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{ news.title }}</h3>
                <p>{{news.content}}</p>
            </div>
            <div class="card-footer">
                <form method="post">{% csrf_token %}
                    <p>Are you sure you want to delete?</p>
                    <button type=submit class="btn btn-primary btn-sm">Confirm</button>
                    <a href="{% url 'news:news_list' %}" class="btn btn-primary btn-sm">No</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}