{% extends 'web/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="card mt-2 mb-2">
        <div class="card-header text-center justify-content-center mb-1">
            {% if news.menu == 'Obituary' %}
                <div class="card bg-secondary">
                    {% else %}
                <div>
             {% endif %}
            <h4> {{ news.title }}</h4>
                </div>
        </div>
        <div class="card-body">
            <div class="row text-center justify-content-center mb-2">
                <div class="col-md-6 col-lg-6">
                    <img class="card-img-top detail-pic"
                         src={{ news.image.url }}
                                 alt="Card image cap">
                </div>
                <div class="col-md-6 col-lg-6">
                  <p class="contribution text-center justify-content-center"> By
                      {{ news.author }} on {{ news.release_date }}</p>
                </div>
            </div>
            <div class="row text-left justify-content-left mb-0">
                <p>{{ news.content }}</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="row  mb-3">
            {% if news.menu == 'Obituary' %}
                    <div class="col-md-6 col-lg-6 text-center justify-content-left">
                    <form action="{% url 'news:like-news' news.id %}" method="POST">
                     {% csrf_token %}
                        <button type="submit" name="blogpost_id" v
                                 alue="Liked" class="btn btn-danger"><strong>
                                Condolences ({{ news.countDisLike }})</strong>
                        </button>
                    </form>
                    </div>
                    <div class="col-md-6 col-lg-6 text-center justify-content-right" >
                        <a href="{% url 'news:comment-news' news.id %}" class="btn btn-primary btn-sm">Notes ({{comments.count}})</a> </div>
            {% else %}
                    <div class="col-md-6 col-lg-4 text-center justify-content-left">
                    <form action="{% url 'news:like-news' news.id %}" method="POST">
                     {% csrf_token %}
                    <button type="submit" name="blogpost_id" value="Liked"
                            class="btn btn-info"><strong
                            class="text-secondary">
                            likes ({{ news.countDisLike }})</strong>
                    </button>
                    </form>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center justify-content-right" >
                    <a href="{% url 'news:comment-news' news.id %}" class="btn btn-primary btn-sm">Comments ({{comments.count}})</a> </div>
            {% endif %}
            </div>
        </div>
    </div>
   </div>
</div>
{% include 'web/footer.html' %}
{% endblock content %}