{% extends 'web/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row text-center justify-content-center">
        {% for news in news_list %}
            <div class="card mt-2 mb-2">
                        <div class="card-header">
                             <div class="row">
                        <div class="col-md-9">
                            <h5>{{news.region}}  {{news.menu}} ({{ news.release_date }})</h5>
                            <div class="card-header2"> Informed by : {{news.author}}</div>
                            <div class="card-header2"> Contributed by : {{news.updated_by}}</div>
                        </div>
                            {% if user.is_authenticated %}
                            <div class="col-md-3" align="right">
                            <a href="{% url 'news:edit-news' news.id %}" class="btn btn-primary btn-sm">Edit</a>
                                {% if user.is_staff %}
                                {% if news.approved == 'N' %}
                                <a href="{% url 'news:approve-news' news.id %}" class="btn btn-primary btn-sm">Approve</a>
                                {% endif %}
                                <a href="{% url 'news:delete-news' news.id %}" class="btn btn-primary btn-sm">Delete</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        </div>

                    <div class="card-body">
                        <div class="row">
                        {% if news.image %}
                            <div class="col-md-3 col-lg-6">
                                <img class="card-img-top home-pic"
                                     src={{ news.image.url }} class="img-responsive"
                                     alt="Card image cap">
                            </div>

                            <div class="col-md-3 col-lg-6 my-auto  align-middle">
                                <h5 class="font-weight-light">{{ news.title }}</h5>
                                <p class="contribution"> Contributed by {{ news.author }} on {{ news.release_date}}</p>
                                <p align="left">{{news.content|truncatewords:250}} </p>
                                <a href="{% url 'news:detail-news' news.id  %}" class="btn btn-primary btn-sm">More</a>
                            </div>
                        {% else %}
                            <h5 class="font-weight-light">{{ news.title }}</h5>
                            <p class="contribution"> Contributed by {{ news.author }} on {{ news.release_date}}</p>
                            <p align="left">{{news.content|truncatewords:400}} </p>
                            <a href="{% url 'news:detail-news' news.id  %}" class="btn btn-primary btn-sm">More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'web/footer.html' %}
{% endblock content %}