{% extends 'web/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-4 mt-4" align="center">
            {% if request.path == "/news/view-news" %}
                <h2>
                All News
                </h2>
            {% elif request.path == "/news/jaffna-news" %}
                <h2>
                Jaffna News
                </h2>
            {% elif request.path == "/news/srilanka-news" %}
                <h2>
                Sri Lanka News
                </h2>
            {% else %}
                <h2>
                International News
                </h2>
        {% endif %}
            <hr class="mt-2 mb-5">
        </div>
    </div>

    <div class="row text-center justify-content-center">
        {% for news in news_list %}
        <div class="col-md-4 col-sm-6 mt-2 mb-2">
            <div class="card h-100">
                <img class="card-img-top card-pic"
                     src= {{ news.image.url }}
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <hr>
                    <p>{{news.content | truncatewords:50}}</p>
                     <a href="{% url 'news:detail-news' news.id %}" class="btn btn-primary btn-sm">Read More</a>
                </div>
                {% if user.is_authenticated %}
                <div class="card-footer">
                    <a href="{% url 'news:edit-news' news.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'news:delete-news' news.id %}" class="btn btn-primary btn-sm">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}