{% extends 'web/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row text-center justify-content-center">
        {% for news in news_list %}
            <div class="card mt-2 mb-2">
                        <div class="card-header">
                            <h5>{{news.region}}  {{news.menu}} ({{ news.release_date }})</h5>
                            <div class="card-header2"> Contributed by : {{news.author}}</div>
                        </div>

                    <div class="card-body">
                        <div class="row">
                            {% if news.image %}
                                <div class="col-md-4 col-lg-4">
                                    <img class="card-img-top home-pic"
                                         src={{ news.image.url }} class="img-responsive"
                                         alt="Card image cap">
                                </div>

                                <div class="col-md-8  col-lg-8 my-auto  text-left justify-content-left">
                                    <p class="content">{{news.content|linebreaks|truncatewords:250}} </p>
                                    <a href="{% url 'news:detail-news' news.id  %}" class="btn btn-primary btn-sm">More</a>
                                </div>
                            {% else %}
                                <div class="col-md-12 col-lg-12 justify-content-left text-left">
                                <p class="content">{{news.content|linebreaks|truncatewords:500}} </p>
                                <a href="{% url 'news:detail-news' news.id  %}" class="btn btn-primary btn-sm">More</a>
                                </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'web/footer.html' %}
{% endblock content %}