 <nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #006600;">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <a class="nav-link" href="#">School</a>
                <li class="nav-item">
                  <a class="nav-link" href="#">Associations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Photos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Temples</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Archive
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">2017</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">2016</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">2015</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">2014</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Utilities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="news/create">AddNews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="photos/progress-bar-upload">AddPhotos</a>
                </li>
              </ul>
            </div>
</nav>