{% extends 'base.html' %}

{% block content %}

<section class="py-5">
    <div class="container">

 <div class="row">
   <div class="col-12 " align="center">
  <h5>
    Please upload photos by clicking the button below.
  </h5>
  <p>Select all the photos you want to upload and then click open button to
    upload all the photos
  </p>

      {% block photos_content %}
      {% endblock %}

  <form method="post" action="{% url 'photos:clear_database' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span> Clear Database
    </button>
  </form>
   </div>
 </div>
    </div>
</section>
{% endblock %}