{% extends 'web/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">

    <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-header">
                        <h4>International Albums</h4>
                    </div>
                    <div class="card-body" align="left">
                        {% for album in international  %}
                        <div class="row">
                            <div class="col-md-6">
                               <img src="{{ album.thumb.url}}" height="140px">
                            </div>
                            <div class="col-md-4">
                                {{ album.title|truncatewords:20}}<hr>
                                <a href="{% url 'photos:view-album' album.id %}" class="btn btn-primary btn-sm">{{ album.release_date|date:'M-d'}} {{album.region}} </a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
    </div>
    <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-header">
                        <h4>Idaikkadu Albums</h4>
                    </div>
                    <div class="card-body" align="left">
                        {% for album in idaikkadu  %}
                            <div class="row">
                                <div class="col-md-6">
                                   <img src="{{ album.thumb.url}}" height="140px">
                                </div>
                                <div class="col-md-4">
                                    {{ album.title|truncatewords:20}}<hr>
                                    <a href="{% url 'photos:view-album' album.id %}" class="btn btn-primary btn-sm">{{ album.release_date|date:'M-d'}} {{album.region}} </a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
    </div>
    <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-header">
                        <h4>Srilanka Albums</h4>
                    </div>
                    <div class="card-body" align="left">
                        {% for album in srilanka  %}
                            <div class="row">
                                <div class="col-md-6">
                                   <img src="{{ album.thumb.url}}" height="140px">
                                </div>
                                <div class="col-md-4">
                                    {{ album.title|truncatewords:20}}<hr>
                                    <a href="{% url 'photos:view-album' album.id %}" class="btn btn-primary btn-sm">{{ album.release_date|date:'M-d'}} {{album.region}} </a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
    </div>
    </div>
</div>
{% include 'web/footer.html' %}
{% endblock %}
