{% extends 'web/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">

    <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-header">
                        <h4>International Albums</h4>
                    </div>
                    <div class="card-body" align="left">
                        {% for album in international  %}
                             <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <a href="{% url 'photos:view-album' album.id %}"> <img src="{{ album.thumb.url}}" style="height:140px;width:200px"></a>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <a href="{% url 'photos:view-album' album.id %}"><strong>{{ album.title}}</strong></a><hr>
                                    By {{album.author}} On {{ album.release_date|date:'M-d'}}
                                </div>
                            </div>
                            <hr>
                    {% endfor %}
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
    </div>
    <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-header">
                        <h4>Idaikkadu Albums</h4>
                    </div>
                    <div class="card-body" align="left">
                        {% for album in idaikkadu  %}
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <a href="{% url 'photos:view-album' album.id %}"> <img src="{{ album.thumb.url}}" style="height:140px;width:200px"></a>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <a href="{% url 'photos:view-album' album.id %}"><strong>{{ album.title}}</strong></a><hr>
                                    By {{album.author}} On {{ album.release_date|date:'M-d'}}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
    </div>
    <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-header">
                        <h4>Srilanka Albums</h4>
                    </div>
                    <div class="card-body" align="left">
                        {% for album in srilanka  %}
                           <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <a href="{% url 'photos:view-album' album.id %}"> <img src="{{ album.thumb.url}}" style="height:140px;width:200px"></a>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <a href="{% url 'photos:view-album' album.id %}"><strong>{{ album.title}}</strong></a><hr>
                                    By {{album.author}} On {{ album.release_date|date:'M-d'}}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
    </div>
    </div>
</div>
{% include 'web/footer.html' %}
{% endblock %}
