{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" id="album">
  <div class="card-header text-center justify-content-center">
    <h5>Album : {{ album.title }} </h5>
    <div class="card-header2"> Contributed by : {{ album.author }} Updated on: {{ album.release_date }}</div>
    <div>{{album.description}}</div>
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
    {% for p in photo %}
        <div class="album-column">
            <img  class="myImg"  src={{ p.file.url }} highres={{ p.file.url }} style="margin: 10px 5p x 2 2;border: 2px solid #FFF;" height="240"   alt={{p.figNo}}>
        </div>
    {% endfor %}
    </div></div>
   <div class="card-footer">
       <div class="row  justify-content-center">
            <a href="{% url 'photos:comment-album' album.id %}" class="btn btn-primary btn-sm">{{comments.count}} Comments</a>
        </div>
   </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="card-header text-center justify-content-center">
        <h5>Album : {{ album.title }} </h5>
        <div class="card-header2"> Contributed by : {{ album.author }} Updated on: {{ album.release_date }}</div>
        <div>{{album.description}}</div>
    </div>
    <div class="card-body">
        <img class="modal-content" id="img01">
    </div>
    <div class="card-footer">
       <div class="row  justify-content-center">
            <a href="{% url 'photos:comment-album' album.id %}" class="btn btn-primary btn-sm">{{comments.count}} Comments</a>
        </div>
    </div>
</div>

<script>
var modal = document.getElementById('myModal');

var images = document.getElementsByClassName('myImg');
var modalImg = document.getElementById("img01");
var album = document.getElementById("album");

var showModal = function(){
    modalImg.src = this.src;
    if (modal.style.display === "none"){
        modal.style.display = "block";
        album.style.display = "none";
 }else{
        modal.style.display = "none";
        album.style.display = "block";
    }
}

for(var i=0, len = images.length; i < len; i++){
    images[i].addEventListener('click', showModal);
}
modalImg.addEventListener('click', showModal);

</script>
{% include 'web/footer.html' %}
{% endblock %}
