{% extends 'web/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">
        <div class="col-md-12 col-lg-6">
            <div class="row center" >
            <div class="card mt-2 mb-2">
                         {% if news_latest %}
                        <div class="card-header">
                            <h5>{{news_latest.category}}  {{news_latest.menu}} ({{ news_latest.release_date }})</h5>
                            <div class="card-header2"> Contributed by : {{news_latest.author}}</div>
                        </div>

                    <div class="card-body">
                        <div class="row">
                        <div class="col-md-3 col-lg-6">
                            <img class="card-img-top home-pic"
                                 src={{ news_latest.image.url }} class="img-responsive"
                                 alt="Card image cap">
                        </div>

                        <div class="col-md-3 col-lg-6 my-auto  align-middle">
                            <h5 class="font-weight-light">{{ news_latest.title }}</h5>
                            <p align="left">{{news_latest.content|truncatewords:50}} </p>
                            <a href="{% url 'news:detail-news' news_latest.id  %}" class="btn btn-primary btn-sm">More</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
            <div class="row text-left justify-content-cente">
            <div class="card-body h-100">
                {% if news_old %}
                    {%for old in news_old %}
                    {{ old.release_date}} : {{ old.title|truncatewords:6}} <a href="{% url 'news:detail-news' old.id %}" class="btn btn-primary btn-sm">More</a>
                    <hr>
                   {% endfor %}
                {% endif %}
            </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="card mt-2 mb-2">
            <div class="card-header">
                 {% if latest_album %}
                <h5>Album - {{ latest_album.title }} ({{ latest_album.release_date }})</h5>
                    <div class=""card_heade2">Contributed by : {{latest_album.author}}</div>
                    <p>{{ latest_album.description }}</p>
                {% endif %}
            </div>
                 <div class="card-body h-100">
            <!--<img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">-->
            <div class="carousel slide bg-dark mx-2 mt-2 mb-2" data-ride="carousel" id="carouselExampleIndicators">
                <div class="carousel-inner" role="listbox">
                    {% for photo in photos %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                         style="background-image: url({{  photo.file.url }})">

                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div></div>
                 <div class="card-footer">
                     <a href="{% url 'news:detail-news' news_international.id %}"
                       class="btn btn-primary btn-sm">More</a>
                 </div>
             </div></div>
    </div>

    <!-- Content Row -->
    <div class="row text-center justify-content-center">
        {% if news_international %}

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <a href="{% url 'news:international-news' %}"><h4>International</h4></a>
                </div>
                <img class="card-img-top card-pic"
                     src={{ news_international.image.url }}
                     alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-subtitle">{{ news_international.title }}</h5>
                    <hr>
                    <p class="text-black m-0">{{ news_international.content|truncatewords:50 }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'news:detail-news' news_international.id %}"
                       class="btn btn-primary btn-sm">More</a>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- /.col-md-4 -->
        {% if news_idaikkadu %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <a href="{% url 'news:idaikkadu-news' %}"><h4>Idaikkadu</h4></a>
                </div>
                <img class="card-img-top card-pic"
                     src={{ news_idaikkadu.image.url }}
                     alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-subtitle">{{ news_idaikkadu.title }}</h5>
                    <hr>

                    <p class="text-black m-0">{{ news_idaikkadu.content|truncatewords:25 }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'news:detail-news' news_idaikkadu.id %}" class="btn btn-primary btn-sm">More</a>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- /.col-md-4 -->
        {% if news_srilanka %}

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <a href="{% url 'news:srilanka-news' %}"><h4>Sri lanka</h4></a>
                </div>
                <img class="card-img-top card-pic"
                     src={{ news_srilanka.image.url }}
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-subtitle">{{ news_srilanka.title }}</h5>
                    <hr>

                    <p class="text-black m-0">{{ news_srilanka.content|truncatewords:50 }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'news:detail-news' news_srilanka.id %}" class="btn btn-primary btn-sm">More</a>
                </div>

            </div>
        </div>
        {% endif %}
    </div>
    <footer class="footer navbar-fixed-bottom py-3 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Idaikkadu.com @ 2005-2020.
                Hit counts</p>
        </div>
        <!-- /.container -->
    </footer>
    {% endblock %}