{% extends 'web/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Heading Row -->

        <div class="col-lg-8">
            <!--<img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">-->
            <div class="carousel slide bg-dark" data-ride="carousel" id="carouselExampleIndicators">
                <div class="carousel-inner" role="listbox">
                    {% for photo in photos %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                         style="background-image: url({{  photo.file.url }})">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- /.col-lg-8 -->
        <div class="col-lg-4 my-auto">
            <h1 class="font-weight-light">{{ news_latest.title }}</h1>
            <p>{{news_latest.content}} </p>
            <a class="btn btn-primary" href="#">Read more</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <h3>Breaking news</h3>
            <p class="text-white m-0">..........Breaking news............</p>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top"
                     src={{  news_international.image.url }}
                     alt="Card image cap">

                <div class="card-body">
                    {% if news_international %}
                    <h3 class="card-subtitle">{{ news_international.title }}</h3>
                    <p class="text-black m-0">{{ news_international.content }}</p>
                    {% else %}
                    <h3 class="card-subtitle">None</h3>
                    <p class="text-black m-0">None</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'news:detail-news' news_international.id %}" class="btn btn-primary btn-sm">More</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top"
                     src={{  news_jaffna.image.url }}
                     alt="Card image cap">

                <div class="card-body">
                    {% if news_jaffna %}
                    <h3 class="card-subtitle">{{  news_jaffna.title }}</h3>
                    <p class="text-black m-0">{{ news_jaffna.content }}</p>
                    {% else %}
                    <h3 class="card-subtitle">None</h3>
                    <p class="text-black m-0">None</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'news:detail-news' news_jaffna.id %}" class="btn btn-primary btn-sm">More</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top"
                     src={{  news_srilanka.image.url }}
                     alt="Card image cap">
                <div class="card-body">
                    {% if news_srilanka %}
                    <h3 class="card-subtitle">{{  news_srilanka.title }}</h3>
                    <p class="text-black m-0">{{ news_srilanka.content }}</p>
                    {% else %}
                    <h3 class="card-subtitle">None</h3>
                    <p class="text-black m-0">None</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'news:detail-news' news_srilanka.id %}" class="btn btn-primary btn-sm">More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer navbar-fixed-bottom py-3 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019, all shortcuts and links, Copy
                right,
                Hit counts</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- /.row -->
    {% endblock %}