{% extends 'web/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row text-center justify-content-center">
        <div class="col-md-12 col-lg-6">
            <div class="row center" >
            <div class="card mt-2 mb-2">
                         {% if news_latest %}
                        <div class="card-header">
                            <h5>{{news_latest.category}}  {{news_latest.menu}} ({{ news_latest.release_date }})</h5>
                            <div class="card-header2"> Contributed by : {{news_latest.author}}</div>
                        </div>

                    <div class="card-body">
                        <div class="row">
                        <div class="col-md-3 col-lg-6">
                            <img class="card-img-top home-pic"
                                 src={{ news_latest.image.url }} class="img-responsive"
                                 alt="Card image cap">
                        </div>

                        <div class="col-md-3 col-lg-6 my-auto  align-middle">
                            <h5 class="font-weight-light">{{ news_latest.title }}</h5>
                            <p class="contribution"> Contributed by {{ news_latest.author }} on {{ news_latest.release_date}}</p>
                            <p align="left">{{news_latest.content|truncatewords:50}} </p>
                            <a href="{% url 'news:detail-news' news_latest.id  %}" class="btn btn-primary btn-sm">More</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
            <div class="row text-left justify-content-cente">
            <div class="card-body h-100">
                {% if news_old %}
                    {%for old in news_old %}
                     <a href="{% url 'news:detail-news' old.id %}" class="btn btn-primary btn-sm">{{ old.release_date|date:'M-d'}} {{old.region}}</a> {{ old.title|truncatewords:20}}
                    <hr>
                   {% endfor %}
                {% endif %}
            </div>
            </div>
            <div class="row text-left justify-content-cente">
            <div class="card-body h-100">
                {% if album_old %}
                    {%for old in album_old %}
                        <img src="{{ old.thumb.url}}" height="40px">
                        <a href="{% url 'photos:view-album' old.id %}" class="btn btn-primary btn-sm">{{old.release_date | date:'M-d'}} {{old.region}}</a> {{ old.title|truncatewords:6}}
                    <hr>
                   {% endfor %}
                {% endif %}
            </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="card mt-2 mb-2">
            <div class="card-header">
                 {% if latest_album %}
                <h5>Album - {{ latest_album.title }} ({{ latest_album.release_date }})</h5>
                    <div class=""card_heade2">Contributed by : {{latest_album.author}}</div>
                {% endif %}
            </div>
                 <div class="card-body h-100">
            <!--<img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">-->
            <div class="carousel slide bg-dark mx-2 mt-2 mb-2" data-ride="carousel" id="carouselExampleIndicators">
                <div class="carousel-inner" role="listbox">
                    {% for photo in photos %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                         style="background-image: url({{  photo.file.url }})">

                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div></div>
                 <div class="card-footer">
                    <div class="row">
                      <div class="col-md-4 col-lg-4 justify-content-right">
                        <form action="{% url 'photos:like-album' latest_album.id %}" method="POST">
                        {% csrf_token %}
                            <button type="submit" name="blogpost_id" value="Liked"
                                    class="btn btn-info"><strong
                                    class="text-secondary">likes ({{ latest_album.countLike }})</strong>
                            </button>
                        </form></div>
                        <div class="col-md-4 col-lg-4 justify-content-center">
                          <a href="{% url 'photos:view-album' latest_album.id %}" class="btn btn-primary btn-sm">More</a></div>
                    <div class="col-md-4  justify-content-left">
                            <a href="{% url 'photos:comment-album' latest_album.id %}" class="btn btn-primary btn-sm">{{album_comments.count}} Comments</a>
                        </div>
                    </div>
                   </div>
             </div></div>
    </div>

    <!-- Content Row -->
    <div class="row text-center justify-content-center">
        {% if international_new %}

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <a href="{% url 'news:international-news' %}"><h4>International</h4></a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="card-img-top card-pic"
                        src={{ international_new.image.url }}
                        alt="Card image cap">
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-subtitle" text-align="left" >{{ international_new.title }}</h4><br>
                        <p class="contrib"> {{ international_new.author }} </p>
                        <p>{{ international_new.release_date}}</p>
                    <hr>
                    </div>
                </div>

                <div class="card-body">
                    <p class="text-black m-0"  align=left">{{ international_new.content|truncatewords:20 }}
                    <a href="{% url 'news:detail-news' international_new.id %}"
                       class="btn btn-primary btn-sm">More</a></p> <hr>
                    {% for old in international_old %}
                        <a href="{% url 'news:detail-news' old.id %}" class="btn btn-primary btn-sm">{{ old.release_date|date:'M-d'}} </a> : {{ old.title|truncatewords:6}}
                        <hr>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endif %}
        <!-- /.col-md-4 -->
        {% if idaikkadu_new %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <a href="{% url 'news:idaikkadu-news' %}"><h4>Idaikkadu</h4></a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="card-img-top card-pic"
                        src={{ idaikkadu_new.image.url }}
                        alt="Card image cap">
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-subtitle" text-align="left" >{{ idaikkadu_new.title }}</h4><br>
                        <p class="contrib"> {{ idaikkadu_new.author }} </p>
                        <p>{{ idaikkadu_new.release_date}}</p>
                    <hr>
                    </div>
                </div>

                <div class="card-body">
                    <p class="text-black m-0"  align=left">{{ idaikkadu_new.content|truncatewords:20 }}
                    <a href="{% url 'news:detail-news' international_new.id %}"
                       class="btn btn-primary btn-sm">More</a></p> <hr>
                    {% for old in idaikkadu_old %}
                        <a href="{% url 'news:detail-news' old.id %}" class="btn btn-primary btn-sm">{{ old.release_date|date:'M-d'}} </a> : {{ old.title|truncatewords:6}}
                        <hr>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endif %}
        <!-- /.col-md-4 -->
        {% if srilanka_new %}

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <a href="{% url 'news:srilanka-news' %}"><h4>Sri lanka</h4></a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="card-img-top card-pic"
                        src={{ srilanka_new.image.url }}
                        alt="Card image cap">
                    </div>
                    <div class="col-md-6">
                        <p> Contributed by {{ srilanka_new.author }} on {{ srilanka_new.release_date}}</p>
                    <hr>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-subtitle" text-align:"justify" >{{ srilanka_new.title }}</h5>
                    <p class="text-black m-0"  >{{ srilanka_new.content|truncatewords:50 }}
                    <a href="{% url 'news:detail-news' idaikkadu_new.id %}"
                       class="btn btn-primary btn-sm">More</a></p> <hr>
                    {% for old in srilanka_old %}
                        <a href="{% url 'news:detail-news' old.id %}" class="btn btn-primary btn-sm">{{ old.release_date|date:'M-d'}}</a> : {{ old.title|truncatewords:6}}
                        <hr>
                    {% endfor %}

                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% include 'web/footer.html' %}
{% endblock %}