{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
 <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Add Photos</h1>
          <h5>Click choose button to add photos to the album.</h5>
          <hr class="mt-0 mb-4">
          <form action="/photos/add_to_album/" method="post">
            {% csrf_token %}
              <table id="gallery" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Album Title</th>
                  </tr>
                </thead>
                <tbody>
                    {% for album in albums %}
                    <tr>
                    <td>{{album.title}}</td>
                    <td><button type="submit" class="btn btn-success" name="AlbumID" value={{album.id}}>Choose</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
          </form>
        </div>
      </div>
</div>

{% endblock %}