{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
 <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Add Photos</h1>
           <h5> Once you click Save you will get next page to upload all photos from you computer.</h5>
          <hr class="mt-0 mb-4">
          <form action="save/" method="post">
            {% csrf_token %}
            <table>
            {{ photoform|crispy }}
            </table>
            <button type="submit" class="btn btn-success" value="Submit">Save</button>
            <button type="submit" class="btn btn-failure" value="Cancel">Cancel</button>
          </form>
        </div>
      </div>
</div>

{% endblock %}
